@tailwind base;

.button {
    transition: all .15s ease;
}

.button:hover {
    transform: translateY(-1px);
}

video,
img {
    @apply shadow-md w-auto bg-white bg-center border border-gray-200;
    min-width: 200px;
    min-height: 50px;
    max-height: 75vh;
    transition: all .15s ease;
}

@tailwind components;
@tailwind utilities;
